.wrapper {
    overflow: hidden;
}
.header{
    position: fixed;
    height: 46px;
    background-color: #000;
    width: 100%;
    z-index: 1;
    ul{
        display: inline-block;
    }
    ul .nav{
        position: relative;
        
    } 
     li {
        display: inline-block;
        .nav-more{
            opacity: 0;
            transition: 1s;
            display: none;
            position: absolute;
            top: 100%;
            background-color: white;
            box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
            li {
                display: block;
                min-width: 160px;
                
                a {
                    color: black;
                    text-transform: none;
                    width: 100%;
                    text-align: left;
                    
                }
            }
        }
        &:hover .nav-more{
            display: block;
            opacity: 1;
            transition: 1s;
        }
        a {
            text-decoration:none;
            font-size: 15px;
            color: whitesmoke;
            text-transform: uppercase;
            line-height: 46px;
            padding: 0 24px;
            display: inline-block;
            i{
                color: whitesmoke;
                display: inline-block;
                padding-left: 5px;
            }
    }
     
        
    }
    li:hover > a {
        background-color: #ccc;
        color: black;
        transition: 0.4s;
        i {
            color: black;
            transition: 0.4s;
        }
    }

    div{ 
        float: right;
        color: white;
        line-height: 46px;
        padding: 0 24px;
        &:hover{
            background-color: #f44336;
            cursor: pointer;
        }
        .fa-bars {
            display: none;
        }
    }
  
}
.row-half {
    width: 50%;
    float: left;
}
.silde{
    padding-top: 50%;
    background-image: url('../assets/images/slide1.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    div{
        position: absolute;
        width: 100%;
        bottom: 40px;
        text-align: center;  
        h2 {
            font-weight: 300;
        }
        p {
            margin-top: 25px;
        }
    }
}
.text-white {
    color: white;
}
// Start Css content------------
.content{
    div.section-content{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        padding: 64px 16px;
        text-align: center;
        .section-heading {
            font-family:  "Segoe UI",Arial,sans-serif;
            font-weight: 400;
            font-size: 30px;
            letter-spacing: 4px;
        }
        .section-sub-heading {
            opacity: 0.6;
            font-family: "Lato", sans-serif;
            line-height: 1.5;
            font-size: 15px;
            font-style: italic;
            margin-top: 25px;
        }
        .about-content {
            margin-top: 15px;
            text-align: justify;
            line-height: 1.4;
            font-family: "Lato", sans-serif;
            font-size: 15px;
        }
        .content-member {
            padding-top: 47px;
            padding-bottom: 47px;
            overflow: hidden;
            .member {
                float: left;
                width: 33.33%;
                p {
                    font-size: 15px;
                }
                img {
                    margin-top: 15px;
                    width: 153px;
                    border-radius: 5px;
                }
            }
        }
    }
    div.tour-content {
        background-color: black;
        ul {
            background-color: white;
            text-align: left;
            margin-top: 15px;
            color: #757575;
            line-height: 1.5;
            li {
                font-size: 15px;
                padding: 8px 16px;
                list-style: none;
                border-bottom: 1px solid #ddd;
                .sold-out {
                    background-color: #f44336;
                    color: white;
                    margin-left: 16px;
                    padding: 2px 8px;
                    font-size: 15px;
                }
                .count-ticket {
                    float: right;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    padding: 0 8px;
                    margin: 0 16px 0 0;
                }
            }
        }
        // Buy ticket css --------------
        .buy-ticket {
            overflow: hidden;
            padding: 32px 0;
            margin: 0 -8px;
            .section-ticket {
                width: 33.33%;
                float: left;
                padding: 0 8px;
                .block-content {
                    background-color: white;
                    font-size: 15px;
                    line-height: 1.5;
                    text-align: left;
                    border-radius:0 0 15px 15px ;
                    padding: 0 16px;
                    .country-content {
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    .date-content {
                        padding-bottom: 15px;
                        opacity: 0.6;
                    }
                    .content-ticket {
                        color: black;
                        padding-bottom: 15px;
                    }
                    button {
                        border: none;
                        background-color: black;
                        color: white;
                        padding: 8px 16px;
                        margin-bottom: 16px;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 5px;
                        &:hover {
                            background-color: #ccc;
                            color: black;
                        }
                    }
                }
                img {
                        border-radius:15px 15px 0 0 ;
                        width: 100%;
                        display: block;
                        &:hover {
                            opacity: 0.6;
                        }
                }
                
            }
        }
        // End buy ticket ------------------
    }
    // start scss contact ------------
    .contact-body {
        overflow: hidden;
        padding: 32px 0;
        font-size: 15px;
        .left-contact {
            font-size: 18px;
            text-align: left;
            i {
                width: 30px;
            }
        }
        .right-contact {
            .c-name-email {
                overflow: hidden;
                margin: 0 -8px 10px -8px;
                padding: 0 8px;
                
            }
            .contact-input {
                padding: 0 8px;
                input {
                padding: 8px;
                border: 1px solid #ccc;
                width: 100%;
                }
           }
           button {
               float: right;
               color: white;
               background-color: black;
               margin: 16px 7px 16px 0;
               border: none;
               padding: 8px 16px;
               text-align: center;
               text-decoration: none;
               cursor: pointer;
               &:hover {
                background-color: #ccc;
                color: black;
               }
           } 
        }
    }
    // end scss contact ------------
    //---------------------
    //start map
    .map-content {
        img {
            width: 100%;
            filter: grayscale(50%);
        }
    }
}
// End Css content--------------
.footer{
    text-align: center;
    padding: 64px 16px;
    background-color: #f1f1f1;
    opacity: 0.7;
    line-height: 1.5;
    font-size: 14px;
    i {
        font-size: 24px;
        letter-spacing: 6px;
        &:hover {
            opacity: 0.4;
        }
    }
    p {
        font-family: "Lato", sans-serif;;
        margin: 15px;
        font-size: 15px;
        a {
            color: black;
            text-decoration: underline;
        }
    }

}

// Start Css MODAL CONTENT ---------------------
.modal {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.137);
    align-items: center;
    justify-content: center;
    animation: modalFadeIn ease .5s;
    .modal-content {
        background-color: white;
        width: 900px;
        position: relative;
        .icon-close {
            position: absolute;
            right: 0;
            top: 0;
            color: white;
            padding: 8px 16px;
            &:hover {
                color: black;
                background-color: rgb(197, 195, 194);
            }
        }
        //css header modal
        .modal-header {
            background-color: #009688;
            padding: 32px 16px;
            letter-spacing: 4px;
            font-family: "Segoe UI",Arial,sans-serif;
            text-align: center;
            h2 {
                margin: 10px 0;
                font-weight: 400;
                font-size: 30px;
                width: 100%;
                i {
                    
                    margin-right: 16px;
                }
            }
        }
        // end css header modal

        //css body modal 
        .modal-body {
            padding: 0 16px;
            .input-text {
                padding-bottom: 16px;
                p {
                    margin: 15px 0;
                    font-size: 15px;
                    line-height: 1.5;
                    i {
                        letter-spacing: 2px;
                    }
                }
                input {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    font-size: 15px;
                }
            }
            button {
                width: 100%;
                cursor: pointer;
                padding: 16px;
                border: none;
                background-color:#009688;
                font-size: 16px;
                margin-bottom:15px;
                line-height: 1.6;
                color: white;
                &:hover {
                    color: black;
                    background-color:#bdc5c4;
                }
            }
            .help-content {
                margin: 15px 0 30px 0;
                float: right;
                font-size: 15px;
                a {
                    color:#009688 ;
                }
            }
        }
    }

}
@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// css media tablet 
@media (min-width: 740px) and (max-width: 1023px){
    .section-content {
        max-width: 100%;
    }
}
@media (max-width: 740px) {
    .header {
        overflow: hidden;
        li {
            display: block;
        }
        .search-icon {
            .fa-search {
                display: none;
            }
            .fa-bars {
                display: inline-block;
            }
        }
    }
    .silde {
        padding-top: 65%;
        .text-content {
            display: none;
        }
    }
    .content {
        div.section-content {
            max-width: 100%;
            .content-member {
                .member {
                    float: none;
                    width: 100%;
                    p {
                        margin: 15px 0;
                    }
                    img {
                        width: 60%;
                        margin: 0 0 16px 0;
                    }
                }
            }
        }
        div.tour-content {
            .buy-ticket {
                .section-ticket {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }
        }
        .contact-body {
            .left-contact {
                width: 100%;
                margin-bottom: 16px;
                margin-left: 10px;
            }
            .right-contact {
                width: 100%;
            }
        }
    }
    
}





