<div class="wrapper">
  <div class="header">
    <ul class="nav">
      <li><a href="">home</a></li>
      <li><a href="">band</a></li>
      <li><a href="">tour</a></li>
      <li><a href="">contact</a></li>
      <li>
        <a href="">more<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="nav-more">
          <li><a href="">Merchandise</a></li>
          <li><a href="">Extra</a></li>
          <li><a href="">Media</a></li>
        </ul>
      </li>
    </ul>
    <div class="search-icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
  <div class="silde">
    <div class="text-content">
      <h2>Chicago</h2>
      <p>Thank you, Chicago - A night we won't forget.</p>
    </div>
  </div>
  <div class="content">
    <div class="section-content">
      <h1 class="section-heading">
        THE BAND
      </h1>
      <p class="section-sub-heading">
        We love music
      </p>
      <p class="about-content">
        We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="content-member">
        <div class="member">
          <p>Name</p>
          <img src="../assets/images/bandmember.jpg" alt="">
        </div>
        <div class="member">
          <p>Name</p>
          <img src="../assets/images/bandmember.jpg" alt="">
        </div>
        <div class="member">
          <p>Name</p>
          <img src="../assets/images/bandmember.jpg" alt="">
        </div>
      </div>
    </div>  
    <div class="tour-content">
      <div class="section-content">
        <h1 class="section-heading text-white">
          TOUR DATES
        </h1>
        <p class="section-sub-heading text-white">
          Remember to book your tickets!
        </p>
        <br>
        <!-- Tour Tickets -->
        <ul>
          <li>Septemper <span class="sold-out">Sold out</span></li>
          <li>October <span class="sold-out">Sold out</span></li>
          <li>November <span class="count-ticket">3</span></li>
        </ul>
        <!-- End Tour Tickets -->
         <!-- Buy Tickets -->
      <div class="buy-ticket">
        <div class="section-ticket">
          <img src="../assets/images/newyork.jpg" alt="New York">
          <div class="block-content">
            <p class="country-content">New York</p>
            <p class="date-content">Fri 27 Nov 2016</p>
            <p class="content-ticket">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button href="#" (click)="open(content)">Buy Tickets</button>
          </div>
        </div>
        <div class="section-ticket">
          <img src="../assets/images/paris.jpg" alt="New York">
          <div class="block-content">
            <p class="country-content">Paris</p>
            <p class="date-content">Sat 28 Nov 2016</p>
            <p class="content-ticket">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button href="#" (click)="open(content)">Buy Tickets</button>
          </div>
        </div>
        <div class="section-ticket">
          <img src="../assets/images/sanfran.jpg" alt="New York">
          <div class="block-content">
            <p class="country-content">San Francisco</p>
            <p class="date-content">Sun 29 Nov 2016</p>
            <p class="content-ticket">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button href="#" (click)="open(content)">Buy Tickets</button>
          </div>
        </div>
      </div>
      </div>  
    </div>
    <div class="section-content">
      <h1 class="section-heading">
        CONTACT
      </h1>
      <p class="section-sub-heading">
        Fan? Drop a note!
      </p>
    </div>
  </div>
  <div class="footer">

  </div>
</div>
<ng-template #content let-modal>
  <div class="modal" > 
    <div class="modal-content" >
      <button class="icon-close close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <div class="modal-header text-white">
        <h2 id="modal-basic-title"><i class="fa fa-suitcase" aria-hidden="true"></i>Tickets</h2>
      </div>
      <div class="modal-body">
        <div class="input-text">
          <p><i class="fa fa-shopping-cart" aria-hidden="true"></i>Tickets, $15 per person</p>
          <input type="text" placeholder="How many?">
        </div>
        <div class="input-text">
          <p><i class="fa fa-user" aria-hidden="true"></i>Send To</p>
          <input type="email" placeholder="Enter email">
        </div>
        <button >PAY<i class="fa fa-check" aria-hidden="true"></i></button>
        <p class="help-content">Need <a href="#">help?</a></p>
      </div>
    </div>
</div>
</ng-template>

